* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    background: #f5f5f7;
}

.select-box {
    background: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.3));
}

.content {
    text-align: center;
    margin: 15px !important;
    padding: 15px !important;
}

.actor-img {
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    padding: 1px;
    margin: 20px;
    transition: 0.7s ease;
    width: 350px;
    height: 450px;
}

.actor-img:hover {
    transform: scale(1.1);
}